<div class="col-sm-4 col-sm-offset-4">
  <legend>Create a new user!</legend>
  <%= form_for @user do |f| %>
    <%= f.label :name %>:
     <%= f.text_field :name, class:"form-control", required: true %><br />
     <%= f.label :email %>:
     <%= f.email_field :email, class:"form-control", required: true %><br />

     <%= f.label :password %>:
     <%= f.password_field :password, class:"form-control", required: true %><br />
     <%= f.label :city %> 
     <%= f.text_field :city, class:"form-control", required: true %><br> 
     <%= f.submit "Save User", class:"btn btn-primary" %>
  <% end %>
  <br>
  <p>Already have an account? <%= link_to "Click here", login_path%> to log in.</p>
</div>