
<div class ="profilepage">

<div class="col-md-12">

 <h1> <%= @user.name %>'s page</h1>

</div>

<!-- USER INFO -->

<div class="container">
<div class="row">

<div class="col-xs-6 col-md-4">

  <div id ="userinformation">
  <h3>my information</h3>

  <p>username: <%= @user.name %> </p>
  <p>current city: <%= @user.city %> </p>
  <p>data joined: <%= @time %> </p>
    <% if current_user == page_user %>

    <h4><%= link_to "edit user profile", edit_user_path(@user) %></h4>
    <% end %>
    <h4><%= link_to "add new post", new_post_path(@post) %></h4>
  </div>

</div>

<!-- USER POSTS -->
 <div class="col-md-8">
  <div id="userposts">
  <h3>my posts</h3>
  <% @user.posts.each do |post| %>
    <p>
    	<%= link_to post.title, post_path(post) %> 
    </p>
  <% end %>
 
 

</div>


</div>
</div>
</div>
</div>




