
<!-- PROFILE HEADER-->
<div class="col-md-12">

 <h1> <%= @user.name %>'s page</h1>

</div>


<!-- USER INFO -->
<div class="col-md-4">

  <div id ="userinformation">
  <h3>my information</h3>

  <% if current_user == page_user %>

    <p><%= link_to "Edit User Profile", edit_user_path(@user) %></p>
  <% end %>

    <p>username: <%= @user.name %> </p>
    <p>current city: <%= @user.city %> </p>
    <p>data joined: <%= @user.created_at %> </p>
  </div>

</div>

<!-- USER POSTS -->
 <div class="col-md-8">
  
  <h3>my posts</h3>
  <% @user.posts.each do |post| %>
    <p>
    	<%= link_to post.title, post_path(post) %> 
    </p>
  <% end %>
 
 
<p><%= link_to "Add new post", new_post_path(@post) %></p>


</div>




