<div class="col-sm-4 col-sm-offset-4">
<h1>update post</h1>
<%= form_for @post do |f| %>
  <%= f.label :title %>:
     <%= f.text_field :title, class:"form-control", required: true %><br />
     <%= f.label :descripton %>:
     <%= f.text_field :description, class:"form-control", required: true %><br />

   <%= f.label :city_id %>
     <%= f.select :city_id, options_from_collection_for_select(City.all, "id", "name") %>
   

   <%= f.submit "update post", class:"btn btn-primary" %>
   
<% end %>
</div>
