<h1>New Post</h1>
<%= form_for @post do |f| %>
  <%= f.label :title %>:
     <%= f.text_field :title, class:"form-control", required: true %><br />
     <%= f.label :descripton %>:
     <%= f.text_field :description, class:"form-control", required: true %><br />

   <%= f.label :city_id %>
   <%= f.select :city_id, [['Oakland', 1], ['San Francisco', 1], ['Berkeley', 3], ['Marin', 4]] %>

   <%= f.submit "Save Post", class:"btn btn-primary" %>
<% end %>



