<div class="individualpost">

  <div class="col-md-6">
  <div class="row">
      <div id="inposttext">
        <!-- USER'S COMMENT -->
        <h1><%= @post.title %></h1>
        <hr>
        <p>description: <%= @post.description %></p>
        <p>city: <%= @post.city.name %></p>
        <!-- ONLY CAN EDIT IF CURRENT USER -->
        <% if current_user && current_user.posts.include?(@post) %>
          <p><%= link_to "edit post", edit_post_path(@post) %></p>
          <p><%= link_to "delete", post_path, method: :delete %></p>
        <% end %>

        <br>
        <br>
      </div>
      </div>
    </div>

     <div class="col-md-6">
      <div class="row">
      <div id="addcommenttopost">
        <!-- FORM TO ADD COMMENT -->
        <%= form_for [@post, @comment], :html => {:id => "new_comment"} do |f| %>
         <%= f.label " thoughts? add a comment." %>:
         <%= f.text_field :description, class:"form-control", required: true %>
         <br>
         <%= f.submit "save post", class:"btn btn-primary" %>
        <% end %>

        <br>


        <!-- COMMENTS ARE APPENDING -->
        <h2 class="page-header">comments</h2>
          <section class="comment-list">
            <% @post.comments.each do |comment| %>  
              <div class="comment-post">
                comment: <%= comment.description %>
              </div>
              <div class="text-center">user: <%= findUserNameWithPost(comment) %></div>
              <div>time: <%= comment.created_at.to_date %></div>
              <br>
            <% end %>
        </section>

    </div>       
  </div>

  Tags: <% tag_cloud @post.tag_counts, %w{s m l} do |tag, css_class| %>
              <%= link_to tag.name, tag_path(tag.id), class: css_class %>



