<div class="individualpost">

<div class="col-sm-4 col-sm-offset-4">

<div id="inposttext">
<h1><%= @post.title %></h1>
<hr>
<p>description: <%= @post.description %></p>


<p><%= @post.city.name %></p>

<p>city: <%= @post.city_id %></p>


<% if current_user && current_user.posts.include?(@post) %>
  <p><%= link_to "edit post", edit_post_path(@post) %></p>
  <p><%= link_to "delete", post_path, method: :delete %></p>
  

<% end %>
</div>
</div>
</div>
   

