
<div class="citypage">

  <div class="cityimage">
    <%= image_tag @city.image, size: "1000x200" %>
  </div>

  <h1><%= @city.name %> </h1>

  <div class="container">
    <div class="cityposts">
      <div class="col-sm-6">
        <h3>posts about <%= @city.name %></h3>
        <% @city.posts.each do |post| %> 
        <hr><p><%= link_to post.title, post_path(post) %></p> 
         <% end  %>
      </div>
    </div>
      
   
    
    <div class="col-sm-6">
      <h3><%= link_to "add new post", new_post_path %></h3> 
   </div>
  </div>

</div>


